@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

h1 {
    margin: 3% 25% 3% 25%;
}

p {
    margin: 3% 25% 3% 25%;
}

html {
    font-size: 62.5%;
}


#Title {
    color: #66FCF1;
    font-size: 3.5em;
}

#Subtitle {
    font-size: 1.5em;
}


#quick_links {
    width: 100%;
    text-align: center;
    margin-top: -10px;
    margin-bottom: 2px;
    color: #c5c6c7
}

i.fa {
    text-decoration: none;
    padding: 5px;
    font-size: 20pt;
    color: #0b0C10;
}

body {
    font-size: 1.5em;
    line-height: 1.6;
    font-weight: 400;
    font-family: Verdana, sans-serif;
    background-color: #1f2833;
    color: #c5c6c7;
}

.button_container{
    font-size: 62.5%;
}

.btn-links {
    background-color: #45A29E;
    border: none;
    border-radius: 10px;
    color: rgb(255, 255, 255);
}

.btn-links:hover {
    background-color: #66FCF1;
    transition: 0.7s;
    color: rgb(255, 255, 255);
}

.center {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}

.btn-primary {
    background-color: #45A29E;
    border: none;
    border-radius: 10px;
    font-size: 24px;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.5);
}

.btn-primary:hover {
    background-color: #66FCF1;
    transition: 0.7s;
}


hr.dotted {
    border-top: 3px dotted #bbb;
    margin: 3% 25% 3% 25%;
}

#Selfie {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

/****************** Career section *********************/
.hr-career {
    color: #c5c6c7;
    font-family: Helvetica, sans-serif;
}

.career-title {
    color: #c5c6c7;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Georgia, sans-serif;
}

/****************** Projects section *********************/

#rdr2splash {
    display: block;
    width: auto;
    max-height: 30%;
}

.proj {
    color: #c5c6c7;
    font-family: Helvetica, sans-serif;
}

.proj-title {
    color: #c5c6c7;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Georgia, sans-serif;
}

#content-display {
    margin-bottom: 5%;
}

embed {
    margin: 3% 25% 3% 25%;
    text-align: center;
}

/****************** Education section *********************/
.edu {
    color: #c5c6c7;
    font-family: Helvetica, sans-serif;
}

.edu-title {
    color: #c5c6c7;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: Georgia, sans-serif;
}


/****************** Skills section *********************/

#skill-chart-title {
    color: #c5c6c7;
    text-align: center;
    font-size: 3.5rem;
    letter-spacing: -.05rem;
}

.chart_parent {
    border: 2px dotted white;
}

.chart .metric {
    background-color: rgba(0, 0, 0, 0);
    background: rgba(0, 0, 0, 0);
    color: #c5c6c7;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 10px;
    text-align: left;
    box-shadow: inset 0 0 8px rgba(0, 0, 0, 0.6);
}

.chart .metric .metric-value {
    font-weight: bold;
}

.chart-horizontal {
width: 100%;
}

.chart-horizontal .metric {
    margin-bottom: 3px;
    min-width: 100px;
    padding: 6px 15px;
}

.chart-horizontal .metric .metric-value {
    float: right;
    font-weight: bold;
}