
h1 {
    margin: 3% 25% 3% 25%;
}

p {
    margin: 3% 25% 3% 25%;
}

hr.dotted {
    border-top: 3px dotted #bbb;
    margin: 3% 25% 3% 25%;
}

#magicCat {
    display: block;
    margin-left: auto;
    margin-right: auto;
}