@import url('https://fonts.googleapis.com/css?family=Source+Code+Pro&display=swap');
@import url('https://fonts.googleapis.com/css?family=VT323&display=swap');

h1 {
    margin: 3% 25% 3% 25%;
}

p {
    margin: 3% 25% 3% 25%;
}

hr.dotted {
    border-top: 3px dotted #bbb;
    margin: 3% 25% 3% 25%;
}

#magicCat {
    display: block;
    margin-left: auto;
    margin-right: auto;
}


/****************** Skills section *********************/

#skill-chart-title {
    color: rgba(255, 255, 255, 255);
    text-align: center;
    font-family: 'VT323', monospace;
    font-size: 3.5rem;
    letter-spacing: -.05rem;
}

/* ---------------------------------------------------- */

.chart_parent {
    border: 2px dotted white;
}

.chart .metric {
    background-color: rgba(0, 0, 0, 0);
    background: rgba(255, 255, 255, 0);
    color: white;
    text-shadow: 1px 1px 1px rgba(255, 255, 255, 0.5);
    border-radius: 3px;
    padding: 10px;
    text-align: left;
    box-shadow: inset 0 0 8px rgba(255, 255, 255, 0.6);
    font-family: 'cascadia', 'monospace';
}

    .chart .metric .metric-value {
        font-weight: bold;
    }

.chart-horizontal {
    width: 100%;
}

    .chart-horizontal .metric {
        margin-bottom: 3px;
        min-width: 100px;
        padding: 6px 15px;
    }

        .chart-horizontal .metric .metric-value {
            float: right;
            font-weight: bold;
        }